#name{
  margin-top: 20px;
  margin-left: 100px;
}

#description{
  margin-left: 100px;
}

#image{
  margin-left: 130px;
  margin-top: 20px;
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
}

#projects{
  margin: 50px;
  text-align: center;
}

 .hover-color {
  background-color: rgb(212, 226, 231);
  border:2px solid #fff;
  box-shadow: 10px 10px 5px #ccc;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  -khtml-box-shadow: 10px 10px 5px #ccc;
 }